*{
    margin: 0   ;
    padding: 0;
}

.button{
    width: 93%;
    height: 53%;
    font-size: 39px;
    margin: 8px;
    cursor: pointer;
    background: #47ca92;
    border-color: rgb(40, 116, 57);
    border-radius:12px; 
    color: rgb(52, 122, 58);
}

.max-height{
    height:108px;
}

.textview{
    width: 177px;
    margin: 1px;
    font-size: 23px;
    padding: 5px;
    background: #47ca92;
    border-color: rgb(40, 116, 57);
    border-radius:12px; 
}

.main{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.bg{
    position: absolute;
    background-image:linear-gradient(to right, aqua,blue);
    height:100%;
    width:100%;
}